$comment-bg: $white;

.comment-section{
    //padding: 30px 0;
    //background-color: $comment-bg;
    @include styleSection(30px, 30px, $white);

    .comment-list{
        list-style: none;
        padding: 0;

        .comment-item{
            display: flex;

            .comment-body{
                padding-left: 10px;
            }

            .comment-img{
                flex: 0 0 50px;
                img{
                    @include radius(10%);
                }
            }
        }
    }


}

@media(min-width: 768px){
    .comment-section{
        .comment-img{
            flex: 0 0 90px !important;
        }
    }
}
