
$white: #FFF;
$black: #000;
$purple: #8A059E;
$light-gray: #EEE;
$dark-gray: #444;
$red: #F00008;
$blue: #0E15CC;
$green: #18B304;
$orange: #F77A05;
$yellow: E0CB09;
$cyan: #09E0B1;

$enable-radius: true;
